.App {
  text-align: center;
  
}

.footer{
  position: absolute;
  padding: 10px;
  bottom:0;
  width: 100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
  
}
.textHeader{
  padding: 20px;
  font-size: 24px;
  color: white;
  text-align: center;
}